

/*Applies to all elements on website*/
* {
    /*Makes it so the width and height scaling of an object is based on what it is housed in*/
    box-sizing: border-box;
}

/* Add a black background color to the top navigation */
.topnav {
background-color: #312f2f;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
/*Uses input with type text as a search bar, styles the search bar*/
.topnav input[type=text] {
    float: left;
    max-width: 300px;
    width: 30%;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 17px;
}



/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #04AA6D;
color: white;
}

/*Different class for top nav elements I want on the right*/
.topnav a.split {
    float: right;
    }
/*Sets up column for the two column div*/
.column {
    float: left;
    height: 300px;
}
/*Sets up width for left column, makes the flip-flop effect with image and text*/
.leftcol {
    width: 40%;
}
/*Sets up width for right column, makes the flip-flop effect with image and text*/
.rightcol {
    width: 60%;
}
/*Sets up width of image holder div */
.img_holder{
    width: 100%;
}
/*Sets up width and height of image inside image holder div*/
.img_holder img{
    width: 100%;
    height: 100%;
}
/*Styles row that houses columns, min-width so the text doesn't go outside of area when window is small*/
.row{
    margin-top:3vh;
    margin-right: 10vw;
    margin-left: 10vw;
    width: 80%;
    min-width: 900px;
}
/*makes it so that the columns in the row share the same line*/
.row:after{
    content: "";
    display: table;
    clear:both;
}
/*styles the table, table header, and table data. Sets up the border and font of table*/
table, th, td {
    margin-top: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 25px;
    font-family: Verdana;
}
/*Sets up the table width*/
table{
    width: 80%;
    min-width: 900px;
}